* {
  -webkit-print-color-adjust: exact !important;
  /* Chrome, Safari 6 – 15.3, Edge */
  color-adjust: exact !important;
  /* Firefox 48 – 96 */
  print-color-adjust: exact !important;
  /* Firefox 97+, Safari 15.4+ */
}

:root {
  margin: 0;
  padding: 0;
}


@page {
  size: A4 landscape;
  margin: 1.2rem;
}

@media print {

  .hide-print {
    display: none !important;
  }

  .show-print {
    display: block !important;
  }

  .new-page {
    page-break-before: always
  }
}

.show-print {
  display: none;
}

.flex-h {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
}

.box {
  max-width: unset !important;
}

p {
  margin: 0.6rem 0
}